nav{
    height: 50px;
}

main{
    width: 100%;
    height: calc(100vh - 50px);
    background-color: cadetblue;
}

.left-wing{
    height: calc(100vh - 50px);
    width: 130px;
    background-color: #051e34;
}

.main_content{
    width: calc(100% - 130px) ;
    background-color: grey;
}

.c_white{
    color:white
}
.bg_inside_header_blue{
    background-color : #1b72e8;
}
.bg_daker_blue{
    background-color : #165bba;
}

.inside_header{
    
}

.my_tiny_fonts{
    font-size: 0.7rem;
}
.my_bigger_fonts{
    font-size: 1.3rem;
}

.my_special_button{
    height: 50px;
    margin-left: 1rem;
}


/* Inside-content */

.left-container{
    width: 70%;
    background-color: lightskyblue;
}
.right-container{
    width: 30%;
    background-color: thistle;
}

.my_link-logo{
    height: 1.5rem;
}

.my_card{
    height: 70%;
}
